[submodule "website"]
	path = website
	url = https://github.com/AdvancedArmorStands/Website
[submodule "repository"]
	path = repository
	url = https://github.com/AdvancedArmorStands/Repository
[submodule "status"]
	path = status
	url = https://github.com/AdvancedArmorStands/Status
[submodule "docs"]
	path = docs
	url = https://github.com/AdvancedArmorStands/Docs
